/* *{
    text-align: center;
    font-family: "Courier"
  } */
  
 html, body {
    padding: 20px 40px;
    font-family: "Verdana";
    
  }
  
  h1 {
    margin: 20px;
  }
  
  .t3cell {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
  }